#poke-aside{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#types-list{
    min-height: 50px;
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--black);
    border: 2px solid var(--white);
    border-radius: 10px;
    font-size: 1.5em;
    cursor: default;
}
#poke-container{
    width: 700px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    background-color: var(--white);
    border: 3px solid var(--black);
    border-radius: 25px;
    padding: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
#dex-order {
    width: 50px;
    height: 50px;
    background-color: var(--black);
    color: white;
    border: 2px solid var(--white);
    border-radius: 50%;
    font-size: 1.5em;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:default;
}
#stats-radar {
    background-color: var(--black);
    border-radius: 25px;
}
#poke-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#poke-name {
    min-width: 160px;
    padding: 5px;
    font-size: 2em;
    font-weight: 600;
    background-color: var(--black);
    border: 2px solid var(--white);
    border-radius: 10px;
    text-align: center;
    cursor: default;
}
#poke-img {
    width: 200px;
    height: 200px;
    padding: 5px;
    border: 2px solid var(--black);
    border-radius: 10px;
}
#poke-search-btn{
    width: 150px;
    height: 60px;
    background-color: var(--blue);
    color: var(--white);
    border: 2px solid var(--black);
    border-radius: 25px;
    margin-right: 10px;
    box-shadow: 5px 5px 5px var(--black);
    cursor: pointer;
}
#poke-search-btn:hover{
    transition: 100ms;
    box-shadow: 2px 2px 2px var(--black);
}