#new-team-button{
    padding: 10px;
    font-size: 1.25em;
    background-color: var(--blue);
    color: var(--white);
    border: 2px solid var(--black);
    border-radius: 10px;
    box-shadow: 3px 3px 3px var(--black);
    cursor: pointer;
}
#new-team-button:hover{
    box-shadow: 1px 1px 3px var(--black);
    transition: 100ms;
}