.poke-sprite{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 125px;
    min-height: 125px;
    border: 3px solid var(--black);
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.25em;
}

@keyframes bounce {
    0% { bottom: 3px; }
    25% { bottom: 0px; }
    50% { bottom: -3px; }
    75% { bottom: 0px; }
    100% { bottom: 3px; }
}
.poke-sprite-img{
    position: relative;
}

.poke-sprite:hover .poke-sprite-img {
    animation: bounce;
    animation-duration: .75s;
    animation-iteration-count: infinite;
}

.unselected-sprite:hover {
    border-color: var(--gray);
    background-color: var(--yellow);
}

.selected-sprite {
    background-color: var(--blue);
}
.selected-sprite .poke-sprite-img {
    animation: bounce;
    animation-duration: .75s;
    animation-iteration-count: infinite;
}
.selected-sprite:hover {
    background-color: var(--aquamarine);
    border-color: var(--red)
}