.poke-sprite{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 125px;
    min-height: 125px;
    border: 3px solid var(--black);
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.25em;
}

.unselected-sprite:hover {
    border-color: var(--gray);
    background-color: var(--yellow);
}

.selected-sprite {
    background-color: var(--blue);
}
.selected-sprite:hover {
    background-color: var(--aquamarine);
    border-color: var(--red)
}