#teams-page{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: calc(100vh - 100px);
}
#new-team-container{
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    background-color: var(--gray);
    border: 3px solid var(--black);
    border-radius: 10px;
}
#teams-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}