#modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,26,35,.3);
    z-index: 3;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#close-modal{
    position: relative;
    top: -200px;
    left: -25px;
    border: 2px solid var(--black);
    border-radius: 50%;
    font-size: 1.25em;
    box-shadow: 2px 2px 5px var(--black);
    cursor: pointer;
    z-index: 6;
}
#close-modal:hover {
    box-shadow: 1px 1px 3px var(--black);
    transition: 100ms;
}